## Advanced Data Structures

List
Tuple
Set
Dictionary
Array

## List

List are used to store multiple items in a single variable

In [12]:
thelist = [1,3,4, 8.5, "python", True, 3,3,4,4]

print(thelist)

[1, 3, 4, 8.5, 'python', True, 3, 3, 4, 4]

List item:
    ordered
    changeable
    allow duplicate values
    can access the values with index

In [16]:
#Slicing

[1,3,4, 8.5, "python", True, 3,3,4,4]

#1 - 0, 3-1, 4-2, 8.5-3, "Python" - 4, True - 5, 3-6, 3 - 7, 4 - 8, 4-9
#1 - -10, 3- -9, 4- -8, 8.5- -7, "Python" - -6, True - -5, 3- -4, 3 - -3, 4 - -2, 4- -1

print(thelist[1:5])  #positive slicing
print(thelist[-4:-1]) #negative slicing

[3, 4, 8.5, 'python']
[3, 3, 4]

In [19]:
#append - add an new elements at the end of the list

thelist.append("hello")
print(thelist)

[1, 3, 4, 8.5, 'python', True, 3, 3, 4, 4, 116, 'hello']

In [20]:
#we can also add elements in empty list
a = [ ]

a.append(1)
print(a)

[1]

In [22]:
#insert() - Add an element at the specified position

a = [3,5,6,21,5,7]

a.insert(2,10)
print(a)

[3, 5, 10, 6, 21, 5, 7]

In [23]:
#remove() - removes the item with the specified value

a.remove(21)
print(a)

[3, 5, 10, 6, 5, 7]

In [95]:
#pop() - removes the element at the specified position (index)

a = [3,5,6,1,9,8,5,3,1,4]
print("before pop",a)
a.pop() #its remove the last element in the list
print("After pop ",a)
a.pop(3)
print("----", a)

before pop [3, 5, 6, 1, 9, 8, 5, 3, 1, 4]
After pop  [3, 5, 6, 1, 9, 8, 5, 3, 1]
---- [3, 5, 6, 9, 8, 5, 3, 1]

In [48]:
#sort()
"""
the sort() method modifies the list in place, meaning it rearranges the elements of the list directly without creating 
a new list. However, it does not return any value (it returns None), which is why print(a.sort()) results in None.
sorted - it will sort the list without change the original list structure"""


list1 = [34,56,21,42,17,98,100]
list2 = [56.45, 54,32,11,20,4,1]
print(list1)
list1.sort()
print("After sort: ",list1)
print("Sorted: ", sorted(list2))
print("original list: ",list2)

[34, 56, 21, 42, 17, 98, 100]
After sort:  [17, 21, 34, 42, 56, 98, 100]
Sorted:  [1, 4, 11, 20, 32, 54, 56.45]
original list:  [56.45, 54, 32, 11, 20, 4, 1]

In [62]:
list1 = [12,1,3,4,5,6,22,43]

list1.sort(reverse=True)
print(list1)
# print("Sorted: ", sorted(list1))


# list2 = [34,67,21,54,67,32,45]
# print("Sorted: ", sorted(list2))
# print(list2)

[43, 22, 12, 6, 5, 4, 3, 1]

In [66]:
list1 = ["Arivu", "dharani", "vanitha", "rebekal", "Nirai"]

list1.sort(key=str.lower) #for the string sort will always prioritize the capital letter and then go with small letters
print(list1)

['Arivu', 'dharani', 'Nirai', 'rebekal', 'vanitha']

In [49]:
list1

[17, 21, 34, 42, 56, 98, 100]

In [38]:
#clear() - Remove all the elements from the list not delete whole list
#del - delete the whole list  

# list1
list1.clear()
print(list1)
del list1
print(list1)

[]

NameError: name 'list1' is not defined

In [37]:
#len() - helps to find the length of the list

a
print(len(a))

7

In [41]:
#extend() - add the elements of a list (or any iterable), to the end of the current list

a = [1,3,5]
b = [2,4,6]

a.extend(b)
print(a)
print(b)

b.extend(a)
print("----",b)

[1, 3, 5, 2, 4, 6]
[2, 4, 6]
---- [2, 4, 6, 1, 3, 5, 2, 4, 6]

In [51]:
## Join 2 list 

lst1 = [65,7.5, 'name', 98, 100]
lst2 = ['a', 0, 3.14, 2, 4,]
lst3 = [1, 2, 3, 4, 5]

combine_lst = lst1 + lst2 + lst3
print("Combined list: ", combine_lst)

Combined list:  [65, 7.5, 'name', 98, 100, 'a', 0, 3.14, 2, 4, 1, 2, 3, 4, 5]

In [68]:
lst1 = [65,7.5, 'name', 98, 100]
lst2 = ['a', 0, 3.14, 2, 4,]

combine_list = lst1 + lst2
print(combine_list)

[65, 7.5, 'name', 98, 100, 'a', 0, 3.14, 2, 4]

In [55]:
## join list using extend

combine_using_extend = lst2.copy()
print("before combine: ", combine_using_extend)

combine_using_extend.extend(lst3)
print("after combine: ", combine_using_extend)

before combine:  ['a', 0, 3.14, 2, 4]
after combine:  ['a', 0, 3.14, 2, 4, 1, 2, 3, 4, 5]

In [75]:
#copy() - returns a copy of the list 
lst2 = [45,5,6,7,8,9]

lst = lst2.copy() 
print(lst)

[45, 5, 6, 7, 8, 9]

## List Comprehension

list comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list

newlist = [item for item in iterable if condition == True]

In [80]:
lst2 = [45,5,6,7,8,9]

a = "Python"

b = []
for i in lst2:
    if i%2 == 0:
        b.append(i)

print(b)

[6, 8]

In [82]:
b = [i for i in lst2 if i%2 == 0]

print(b)

[6, 8]

In [85]:
fruits = ["apple","banana","kiwi", "cherry", "mango"]

newlist = [i for i in fruits if "a" in i]
print(newlist)

['apple', 'banana', 'mango']

In [87]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [94]:
[1,2,3,4,5,6,7,8,9,10]

newlist = [i for i in range(1,11) if i>5]
print(newlist)

[6, 7, 8, 9, 10]

In [93]:
a = "Python"

["p","y","t","h","o","n"]

newlist = [i for i in a if i!='t']
print(newlist)

['P', 'y', 'h', 'o', 'n']