In [6]:
for i in range(1,6):    #-- 1,2,3,4,5
    for j in range(1,3): #1,2
        print(j, "Apple")
    print("\n")
    # print(i)

1 Apple
2 Apple


1 Apple
2 Apple


1 Apple
2 Apple


1 Apple
2 Apple


1 Apple
2 Apple

week:1
Day:1
Day:2
Day:3

Week:2
Day:1
Day:2
Day:3

In [7]:
for i in range(1,4): #1,2,3
    print("Day: ", i)

Day:  1
Day:  2
Day:  3

In [8]:
for j in range(1,3): #1,2
    print("Week: ", j)

Week:  1
Week:  2

In [9]:
for j in range(1,3): #1,2
    print("Week: ", j)
    for i in range(1,4): #1,2,3
        print("Day: ", i)

Week:  1
Day:  1
Day:  2
Day:  3
Week:  2
Day:  1
Day:  2
Day:  3

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
for j in range(1, 6):
    print(j, end = " ")

1 2 3 4 5

In [19]:
for i in range(1,6):   #1,2,3,4,5
    print()
    for j in range(1, i+1):  
        print(j, end = " ")
    # print("\n")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Explanation
i = 1  j = range(1, i+1) = (1,1+1) =range(1,2) --> 1

i = 2  j = range(1, 2+1) = (1,3)--> 1,2 <-- j

i = 3  j = range(1, 3+1) = (1,4) --> 1,2,3 <-- j 

i = 4  j = range(1, 4+1) = (1,5) --> 1,2,3,4 <--j

i = 5  j = range(1,5+1) = (1,6) --> 1,2,3,4,5 <--j

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [28]:
# for i in range(1, 5):
#     print(i)

# for j in range(1,6):
#     print(j, end = " ")


for i in range(1,6):      #1,2,3,4
    for j in range(1,6):  #1,2,3,4,5
        print(i, end = " ")
    print("\n")

1 1 1 1 1

2 2 2 2 2

3 3 3 3 3

4 4 4 4 4

5 5 5 5 5

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4 
1 2 3
1 2
1

In [31]:
for i in range(6,0, -1):
    print(i)

6
5
4
3
2
1

In [35]:
for j in range(1, 7):
    print(j, end = " ")

1 2 3 4 5 6

In [2]:
for i in range(6, 0, -1): #6,5,4,3,2,1
    for j in range(1, i-1): 
        print(j, end = " ")
    print("\n")

1 2 3 4

1 2 3

1 2

1

# Explanation
i = 6  j = range(1,6+1) = range(1,7) --> 1,2,3,4,5,6

i = 5 j = range(1,5+1) = range(1,6) --> 1,2,3,4,5

i = 4 j = range(1,4+1) = range(1,5) --> 1,2,3,4

In [24]:
for j in range(1,6):
    print(j, end = " ")

1 2 3 4 5

## Task

A R I V U M A T H I
A R I V U M A T H 
A R I V U M A T
A R I V U M A
A R I V U M 
A R I V U
A R I V
A R I
A R 
A

In [62]:
a = "Python" 

 #slicing
# p -0 , y - 1, t-2, h-3, o-4, n-5
# n- -1, o- -2, h- -3, -t -4, y- -5, p- -6 

print(a[-2])
print(a[-4:-1])
print(a[:5])

o
tho
Pytho

In [65]:

a = "Arivumathi" #Arivumath

print(a[:9])

print(len(a))

Arivumath
10

In [44]:
a = 'ARIVUMATHI'

print(a[0:10])
print(a[0:9])
print(a[0:8])
print(a[0:7])
print(a[0:6])
print(a[0:5])
print(a[0:4])
print(a[0:3])
print(a[0:2])
print(a[0:1])


for i in range(10):
    for j in range(10):
        print("*",end = " ")

ARIVUMATHI
ARIVUMATH
ARIVUMAT
ARIVUMA
ARIVUM
ARIVU
ARIV
ARI
AR
A

In [66]:
for i in range(len(a), 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [47]:
for i in range(len(a), 0, -1): #(10, 0, -1) --> 10,9,8,7,6,5,4,3,2,1
    for j in range(i):
        print(a[j], end = " ")
    print()

A R I V U M A T H I
A R I V U M A T H
A R I V U M A T
A R I V U M A
A R I V U M
A R I V U
A R I V
A R I
A R
A

i = 10 j = range(10)--0,1,2,3,4,5,6,7,8,9 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V |a[4]-U |a[5]-M |a[6]-A |a[7]-T |a[8]-H |a[9]-I

i = 9  j = range(9)--0,1,2,3,4,5,6,7,8 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V |a[4]-U |a[5]-M |a[6]-A |a[7]-T |a[8]-H 

i = 8  j = range(8)--0,1,2,3,4,5,6,7 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V |a[4]-U |a[5]-M |a[6]-A |a[7]-T 

i = 7  j = range(7)--0,1,2,3,4,5,6 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V |a[4]-U |a[5]-M |a[6]-A 

i = 6  j = range(6)--0,1,2,3,4,5 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V |a[4]-U |a[5]-M 

i = 5  j = range(5)--0,1,2,3,4 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V |a[4]-U 

i = 4  j = range(4)--0,1,2,3 -- a[j]-a[0]-A |a[1]-R |a[2]-I |a[3]-V

i = 3  j = range(3)--0,1,2 -- a[j]-a[0]-A |a[1]-R |a[2]-I

i = 2  j = range(2)--0,1 -- a[j]-a[0]-A |a[1]-R

i = 1  j = range(1)--0 -- a[j]-a[0]-A

In [70]:
text = "ARIVUMATHI"
# words = text.split()

# Loop through and reduce the length of the printed text each time
for i in range(len(text), 0, -1):
    # print(' '.join(text[:i]))
    print(text[:i])

ARIVUMATHI
ARIVUMATH
ARIVUMAT
ARIVUMA
ARIVUM
ARIVU
ARIV
ARI
AR
A

i = range(10,0,-1) -- 10,9,8,7,6,5,4,3,2,1 --
i = 10 -- print(" ".join(text[:10])) -text[0:10] - ARIVUMATHI
i = 9 -- text[0:9] - ARIVUMATH
i = 8 -- text[0:8] - ARIVUMAT
i = 7 -- text[0:7] - ARIVUMA
i = 6 -- text[0:6] - ARIVUM
i = 5 -- text[0:5] - ARIVU
i = 4 -- text[0:4] - ARIV
i = 3 -- text[0:3] - ARI
i = 2 -- text[0:2] - AR
i = 1 -- text[0:1] - A

## Nested While loop

Initialization
While Condition:
    Initialization
    While Condition:
        #Starement
        increment/decrement
    increment/decrement

In [76]:
a = 1  #2 3
while a<=5:
    b = 1
    while b<=a:  #--> 1<=1  1<=2 1<= 3
        print(b, end = " ")
        b = b+1
    print()
    a = a+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [77]:
a = 1
while a<=5: #1,2,3,4,5
    b = 1
    while b<=5: #1,2,3,4,5
        print("*", end = " ")
        b = b+1
    print("\n")
    a=a+1

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

## Round()

In [80]:
# 45.8975463

print(round(2345.75643, 2))
print(round(345566.875234))

2345.76
345567

In [81]:
print(round(657,2))
print(round(7,0))
print(round(234.6578,3))
print(round(7.5))  #.6 -- +1  .4 -- same -->.5 8 or 7
print(round(6.5))
print(round(245.2311,0))

print(round(3474.231123, -2)) #10^(no of digits) 10^2 -100
print(round(665,-1))
print(round(675,-1))

657
7
234.658
8
6
245.0
3500.0
660
680

In [1]:
# Year=int(input())
# If year%4==0 and year%100!=0
#      If year%400==0:

year=int(input())
if year%4==0 and year%100!=0:
    if year%400==0:
        print("leap year")
    else:
        print("not a leap year")
else:
    print("not a leap year")

not a leap year